/* 
 * Тут мы используем БЭМ 
 * Ref: https://www.youtube.com/watch?v=lQPs20b3Ey8
 */

.header {
    border-bottom: 1px solid #888888;
    text-align: left;
  }

.header__welcome {
  margin-left: 25px;
  font-style: italic;
  font-size: 14px;
}

.header__logo {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

.header__name55{
  font-size: 24px;
  margin-left: 2px;
}

.header__menuimg{
  margin-top: 6px;
  margin-left: auto;
}

.top-div {
  margin-top: 20px
}

li {
  margin-top: 10px
}

.d-flex {
  display: flex;
}

.home{
  color: #0275D8;
  font-size: 14px;
  font-style: italic;
  text-decoration-line: underline;
  text-align: left;
  margin-left: 10px
}

