/* 
 * Тут мы используем БЭМ 
 * Ref: https://www.youtube.com/watch?v=lQPs20b3Ey8
 */

 @import url(./all.css);

.header__menuwrapper{
  position: sticky;
  top: 53px;
  z-index: 3;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

/*Фикс меню везде кроме index.html*/
.header__menuwrapper__top{
  top: 125px !important;
}

.header__menu {
  position: absolute;
  right: 0;
  list-style: none;
  padding-inline-start: 0px;
  z-index: 4;
}

.header__menu a {
  color: rgb(56, 56, 56);
  display: block; 
  width: 150px; 
  background: rgb(236, 236, 236); 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 0px !important;
}

.header__menu a:hover {
  text-decoration: none; 
  background-color: #d3d3d3;
  color: rgb(56, 56, 56);
}

.header__menu li {
  text-align:center;
}

.header {
  border-bottom: 1px solid #888888;
  text-align: left;
  height: 53px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

/* модифицируется высота блока на всех страницах, кроме index.html*/
.header__height {
  height: 125px !important;
}

.header__welcome {
  margin-left: 25px;
  font-style: italic;
  font-size: 14px;
}

.header__logo {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.header__name55{
  font-size: 24px;
  margin-left: 2px;
  margin-top: 6px;
}

.header__menubar{
  margin-top: 19px;
  margin-left: auto;
}

.top-div {
  margin-top: 20px;
}

.list-unstyled li {
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

.home{
  color: #0275D8;
  font-size: 14px;
  font-style: italic;
  text-decoration-line: underline;
  text-align: left;
  margin-left: 10px;
}